{% extends "base.html" %}
{% block title %}@{{ user.username }}{% endblock %}
{% block content %}

<section class="antialiased bg-gray pt-20 text-black h-auto px-4 pb-32 w-full max-w-screen-xl mx-auto">

    <div class="flex flex-col h-full">
        <div class="bg-white rounded-t-lg border-4 border-indigo-600">
            <header class="p-5 border-b border-gray-100">
                <h1 class="font-semibold text-black text-5xl">Perfil de {{ user.username }}</h1>
            </header>
            <div class="p-3">
                <div class="overflow-x-auto">
                    <table class="table-auto w-full">
                        <thead class="font-semibold  text-black bg-indigo-600">
                            <tr>
                                <th class="p-2 whitespace-nowrap text-left">Nombre de usuario</th>
                                <th class="p-2 whitespace-nowrap text-left">Email</th>
                                <th class="p-2 whitespace-nowrap text-left">Nombre</th>
                                <th class="p-2 whitespace-nowrap text-left">Apellido</th>
                                <th class="p-2 whitespace-nowrap text-left">Fecha en la que se unió</th>
                                <th class="p-2 whitespace-nowrap text-left">Último inicio de sesión</th>
                            </tr>
                        </thead>
                        <tbody class="text-sm divide-y divide-gray-100">
                          <tr>
                              <td class="p-2 whitespace-nowrap text-left">{{ user.username }}</td>
                              <td class="p-2 whitespace-nowrap text-left">{{ user.email }}</td>
                              <td class="p-2 whitespace-nowrap text-left">{{ user.first_name }}</td>
                              <td class="p-2 whitespace-nowrap text-left">{{ user.last_name }}</td>
                              <td class="p-2 whitespace-nowrap text-left">{{ user.date_joined|date:"d-m-Y H:i:s" }}</td>
                              <td class="p-2 whitespace-nowrap text-left">{{ user.last_login|date:"d-m-Y H:i:s" }}</td>
                          </tr>
                      </tbody>
                      
                    </table>
                    <a href="{% url 'profile_update' %}">Editar Perfil</a>
  
                </div>
            </div>
            
            <header class="p-5 border-b border-gray-100">
                <h2 class="font-semibold text-black text-5xl">Equipos Seguidos</h2>
            </header>
            <div class="p-3">
                <div class="overflow-x-auto">
                    <table class="table-auto w-full">
                        <thead class="font-semibold uppercase text-black bg-indigo-600">
                            <tr>
                                <th class="p-2 whitespace-nowrap text-left">Logo</th>
                                <th class="p-2 whitespace-nowrap text-left">ID</th>
                                <th class="p-2 whitespace-nowrap text-left">Nombre</th>
                                <th class="p-2 whitespace-nowrap text-left">Acronimo</th>
                                <th class="p-2 whitespace-nowrap text-left">Videojuego</th>
                                <th class="p-2 whitespace-nowrap text-left">Detalles</th>
                                <th class="p-2 whitespace-nowrap text-left">Seguir</th>
                            </tr>
                        </thead>
                        <tbody class="text-sm divide-y divide-gray-100">
                            {% for team in followed_teams %}
                                <tr>
                                    <td class="p-2 whitespace-nowrap">
                                      <div class="flex items-center">
                                          <div class="w-10 h-10 flex-shrink-0 mr-2 sm:mr-3"><img class="rounded-full" src="{{ team.image_url }}" width="40" height="40" alt="{{team.name}}"></div>
                                      </div>
                                    </td>
                                    <td class="p-2 whitespace-nowrap ">{{ team.id }}</td>
                                    <td class="p-2 whitespace-nowrap">{{ team.name }}</td>
                                    <td class="p-2 whitespace-nowrap">{{ team.acronym }}</td>
                                    <td class="p-2 whitespace-nowrap">{{ team.current_videogame.name }}</td>
                                    <td class="p-2 whitespace-nowrap">
                                        {% if team.id %}
                                            <a href="{% url 'get_team' team.id %}">Ver detalles</a>
                                        {% else %}
                                            Sin detalles
                                        {% endif %}
                                    </td>
                                    <td class="p-2 whitespace-nowrap">
                                        {% if user.is_authenticated %}
                                            {% if team in user.userprofile.followed_teams.all %}
                                                <a href="{% url 'unfollow_team' team.id %}">Dejar de seguir</a>
                                            {% else %}
                                                
                                            {% endif %}
                                        {% endif %}
                                    </td>
                                </tr>
                            {% empty %}
                                <td>No sigues a ningún equipo.</td>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>



{% endblock %}
