{% extends "base.html" %}

{% block content %}

<section class="mb-16 antialiased bg-gray pt-20 text-black h-auto px-4 w-full  max-w-screen-xl mx-auto">
    <div class="flex flex-col h-full">
        <div class="bg-white  rounded-t-lg border-4 border-indigo-600">
            <header class="p-5 border-b border-gray-100">
                <h1 class="font-semibold text-black text-5xl">Historial de partidos</h1>
            </header>
            <div class="p-3">
                <div class="overflow-x-auto">
                    <table class="table-auto w-full">
                        <thead class="font-semibold uppercase text-black bg-indigo-600 text-left">
                            <tr>
                                <th class="p-2 whitespace-nowrap">ID</th>
                                <th class="p-2 whitespace-nowrap" colspan="2">Equipo 1</th>
                                <th class="p-2 whitespace-nowrap"colspan="2">Equipo 2</th>
                                
                                <th class="p-2 whitespace-nowrap">Fecha y Hora</th>
                                <th class="p-2 whitespace-nowrap">Estado</th>
                                <th class="p-2 whitespace-nowrap">Ganador</th>
                                <th class="p-2 whitespace-nowrap">Detalles</th>
                            </tr>
                        </thead>
                        <tbody class="text-sm divide-y divide-gray-100 roboto-mono">
                            {% for match in matches %}
                            <tr>
                                <td class="p-2 whitespace-nowrap">{{ match.id }}</td>
                                <td class="p-2 whitespace-nowrap">
                                    <div class="flex items-center">
                                        <div class="w-10 h-10 flex-shrink-0 mr-2 sm:mr-3"><a href="{% url 'get_team' match.opponents.0.opponent.id %}"><img class="rounded-full" src="{{ match.opponents.0.opponent.image_url }}" width="40" height="40" alt="{{team.name}}"></a></div>
                                    </div>
                                </td>
                                <td class="p-2 whitespace-nowrap"><a href="{% url 'get_team' match.opponents.0.opponent.id %}">{{ match.opponents.0.opponent.name }}</a></td>
                                <td class="p-2 whitespace-nowrap">
                                    <div class="flex items-center">
                                        <div class="w-10 h-10 flex-shrink-0 mr-2 sm:mr-3"><a href="{% url 'get_team' match.opponents.1.opponent.id %}"><img class="rounded-full" src="{{ match.opponents.1.opponent.image_url }}" width="40" height="40" alt="{{team.name}}"></a></div>
                                    </div>
                                </td>
                                <td class="p-2 whitespace-nowrap"><a href="{% url 'get_team' match.opponents.1.opponent.id %}">{{ match.opponents.1.opponent.name }}</a></td>
                                
                                <td class="p-2 whitespace-nowrap">{{ match.begin_at }}</td>
                                <td class="p-2 whitespace-nowrap">{{ match.status }}</td>    
                                <td class="p-2 whitespace-nowrap">{{ match.winner.name }}</td>
                                <td class="p-2 whitespace-nowrap">
                                    <a href="{% url 'get_match' match.id %}">Ver detalles</a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}
