{% extends "base.html" %}

{% block content %}
  <h2>Confirmación de Restablecimiento de Contraseña</h2>
  {% if validlink %}
    <p>Restablece tu contraseña a continuación:</p>
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">Restablecer Contraseña</button>
    </form>
  {% else %}
    <p>El enlace de restablecimiento de contraseña no es válido o ha expirado.</p>
    <p>Por favor, solicita un nuevo enlace de restablecimiento de contraseña.</p>
  {% endif %}
{% endblock %}
