
<h2>Restablecimiento de Contraseña</h2>
<p>Hola {{ user.username }},</p>
<p>Recibiste este correo electrónico porque solicitaste un restablecimiento de contraseña para tu cuenta en nuestro sitio web. Si no solicitaste esto, puedes ignorar este correo electrónico de manera segura.</p>
<p>Para restablecer tu contraseña, haz clic en el siguiente enlace:</p>
<p><a href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}">Restablecer Contraseña</a></p>
<p>Si no puedes hacer clic en el enlace de arriba, cópialo y pégalo en tu navegador.</p>
<p>Este enlace de restablecimiento de contraseña caducará en 2 horas.</p>
<p>Si no deseas restablecer tu contraseña o no solicitaste esto, no es necesario realizar ninguna otra acción.</p>
<p>¡Gracias!</p>
